<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title></title>
</head>
<body class="container">
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите имя клиента</label><br>
            <select name="client.id">
                {% for client in clientList %}
                    <option value="{{client.0}}">{{client.1}}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label>Введите услугу</label><br>
            <select name="service">
                {% for service in serviceList %}
                    <option>{{service}}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label>Введите дату</label><br>
            <input type="date" name="date" value="{{record.date|date:"Y-m-d" required}}"/>
        </p>
        <input type="submit" value="Сохранить" >
    </form>
</body>
</html>